/* Global Reset */ 
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
}

body{
    margin: 0;
    background-color: yellow;
}

header{
    width: 100%;
    height: 10%;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
    border-color: transparent;
    background-color: #6f6f6f;
}

header .notice{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;

    border: 1px solid green; /* Delete when no longer needed */
    background-color: transparent;
}

.topMenu{
    width: 100%;
    height: 15%;
    position: relative;
    display: flex;

    background: linear-gradient(to bottom, #6f6f6f, transparent);
    border: 1px solid rgba(211, 211, 211, 90);
}

.topMenu .hamburgerContain {
    width: 7%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;

    border: 1px solid green; /* Get Rid of when no longer needed */
    background-color: transparent;
    cursor: pointer;
}

.topMenu .hamburgerContain .line1, .line2, .line3 {
    width: 80%;
    height: 10%;
    display: block; 
    margin: 5%; 

    background-color: white;
    border-radius: 35%;
}

.topMenu .hamburgerContain:hover .line1,
.topMenu .hamburgerContain:hover .line2,
.topMenu .hamburgerContain:hover .line3 {
    background-color: black;
}

nav{
    top: 10%;
    width: 20%;
    height: 100%;
    position: fixed;
    display: flex; 
    align-items: center; 
    justify-content: center; 


    background-color: white;
    /*transform: translateX(-100%);
    transition: transform 0.3s ease;
    display: block; /* Delete when no longer needed */  
}

nav.open{
    transform: translateX(0);
    display: block;
}

nav button{
    display: block;
    width: 100%;
    margin: 5px 0;
}

nav .closeMenu {
    width: 25%; 
    height: 10%;
    margin: 1%;
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
     
    border: 1px solid lightgrey; 
    background-color: transparent; 
}