<html>  
    <head>
        <title>O.P: Home</title>
        <link rel="icon" href="/static/Images/tempLogo.png" type="image/x-icon">
        <link rel="stylesheet" href="/static/stylesheet.css">
        <script src="/static/javascript.js" defer></script>
    </head>

    <body>
        <header>    
            <div class="notice"></div> <!-- Will be needed to add custom messages - requires admin page -->
        </header>

        <div class="topMenu">
            <button class="hamburgerContain" onclick="">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </button>
        </div>
        
        <nav style="display: block"> <!-- DELETE WHEN NO LONGER NEEDED -->
            <button class="closeMenu"></button>
        </nav>

    </body>
</html>